[Unit]
Description=SvelteKit Web Server
After=network.target

[Service]
ExecStart=/home/emilyrhee/personal-website/prod.sh
ExecReload=/home/emilyrhee/personal-website/prod.sh
Type=notify
Restart=always
User=emilyrhee
Group=emilyrhee

[Install]
WantedBy=default.target
RequiredBy=network.target